.explore-menu{
    display: flex;
    flex-direction: column ;
    gap: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
}
.explore-menu-text{
    max-width: 60%;
    columns: #808080;

}
.explore-menu-list{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll ;
}
/* change seting  */
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
/*  */
.explore-menu-list-item img{
    width: 7.5vw;
    max-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}
.explore-menu hr{
    margin-top: 10px;
    height: 2px;
    background-color: #e2e2e2;
    border:none ;
}
.explore-menu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}
.food-display{
    margin-top: 30px;
}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

/* food item css convert */
.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}
.food-item-image{
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
    
}    
.food-item-nifo{
    padding: 20px;
}
.food-item-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.food-item-name-rating p{
    font-size: 20px;
    font-weight: 500;
}
.food-item-name-rating img{
    width: 70px;
}
/* .food-item-desc{
    color: #676767;
    font-size: 12px;
} */
.food-item-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}
.food-item-img-container{
    position: relative;
}
.food-item-img-container .add{
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.food-item-counter{
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
}
.food-item-counter img{
    width: 30px;
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
    
}